*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212121;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 90vh;
    flex-direction: column;
}
input{
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    padding: 10px 0;
    font-size: 14px;
    color: white;

}
input::placeholder{
    color: white;
}
button{
    display: block;
    margin: 10px auto;
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: transparent;
}
footer{
    position: fixed;
    bottom: 10%;
    text-align: center;

}
footer a{
    color: #b1d028;
}
@media( max-width: 320px ){
    footer{
        left: 20%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }   
}